<div class="pad_200_abc">
  <div id="portafolio">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="center main-title">{{ parametro }}</h1>
          <h3 class="center">
            Comencemos a nutrir <strong>el conocimiento</strong>
          </h3>
        </div>
      </div>
      <br />
      <div class="popup-video">
        <span>&times;</span>
        <video src="/videos/Aa.mp4" autoplay loop></video>
      </div>
    </div>
  </div>
</div>

<button (click)="goContenido()">Volver a pagina principal</button>
