<!-- servicios -->
<div class="pad_200">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="center main-title">Nuestro Contenido</h1>
              <h3 class="center">El cambio lo tienes en tus manos</h3>
            </div>
          </div>
          <br /><br /><br />

          <div class="row">
            <div class="col-xl-4 center" *ngFor="let slider of data.slider_uno">
              <img [src]="slider.image" alt="event" class="rounded-circle" />
              <h2>{{ slider.title }}</h2>
              <p>
                {{ slider.descripcion }}
              </p>
              <form action="">
                <button class="btn" [routerLink]="'contenido/' + slider.title">
                  leer mas &raquo;
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- segundo carrusel  -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="center main-title">Nuestro Contenido</h1>
              <h3 class="center">El cambio lo tienes en tus manos</h3>
            </div>
          </div>
          <br /><br /><br />
          <div class="row">
            <div
              class="col-xl-4 center"
              *ngFor="let slider_dos of data.slider_dos"
            >
              <img
                [src]="slider_dos.image"
                alt="event"
                class="rounded-circle"
              />
              <h2>{{ slider_dos.title }}</h2>
              <p>
                {{ slider_dos.descripcion }}
              </p>
              <form action="">
                <button
                  class="btn"
                  [routerLink]="'contenido/' + slider_dos.title"
                >
                  leer mas &raquo;
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- tercer -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="center main-title">Nuestro Contenido</h1>
              <h3 class="center">El cambio lo tienes en tus manos</h3>
            </div>
          </div>
          <br /><br /><br />
          <div class="row">
            <div
              class="col-xl-4 center"
              *ngFor="let slider_tres of data.slider_tres"
            >
              <img
                [src]="slider_tres.image"
                alt="event"
                class="rounded-circle"
              />
              <h2>{{ slider_tres.title }}</h2>
              <p>
                {{ slider_tres.descripcion }}
              </p>
              <button
                class="btn"
                [routerLink]="'contenido/' + slider_tres.title"
              >
                leer mas &raquo;
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- cuarto -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="center main-title">Nuestro Contenido</h1>
              <h3 class="center">El cambio lo tienes en tus manos</h3>
            </div>
          </div>
          <br /><br /><br />
          <div class="row">
            <div
              class="col-xl-4 center"
              *ngFor="let slider_cuarto of data.slider_cuarto"
            >
              <img
                [src]="slider_cuarto.image"
                alt="event"
                class="rounded-circle"
              />
              <h2>{{ slider_cuarto.title }}</h2>
              <p>
                {{ slider_cuarto.descripcion }}
              </p>
              <form action="">
                <button
                  class="btn"
                  [routerLink]="'contenido/' + slider_cuarto.title"
                >
                  leer mas &raquo;
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      id="btn_slider"
      class="carousel-control-prev"
      type="buton"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span
        id="icon_slider"
        class="carousel-control-prev-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      id="btn_slider"
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span
        id="icon_slider"
        class="carousel-control-next-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
