<section>
  <div class="form-box">
    <div class="form-value">
      <form action="">
        <h2>Registrar</h2>
        <div class="inputbox">
          <input type="text" placeholder="Ingrese nombre de usuario" required />
          <i class="bi bi-person-circle"></i>
          <label for=""></label>
        </div>
        <div class="inputbox">
          <input type="email" placeholder="Email" required />
          <i class="bi bi-envelope"></i>
          <label for=""></label>
        </div>
        <div class="inputbox">
          <input type="password" placeholder="Contaseña" required />
          <i class="bi bi-key-fill"></i>
          <label for=""></label>
        </div>
        <div class="inputbox">
          <input type="password" placeholder="Confirmar contaseña" required />
          <i class="bi bi-key"></i>
          <label for=""></label>
        </div>
        <div class="forget">
          <label for=""
            ><input type="checkbox" />Remember me
            <a href="#">For get password</a></label
          >
        </div>
        <button>Registrar</button>
        <div class="register">
          <p>
            <a href="login">Iniciar Sesion</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
