<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <p class="white"><strong>Mapa del sitio</strong></p>
        <ul class="white">
          <li class="small">Inicio</li>
          <li class="small">Nosostros</li>
          <li class="small">Portafolio</li>
          <li class="small">contacto</li>
          <hr />
          <li class="small">Contacto</li>
          <li class="small">Servicios</li>
          <li class="small">facturacuon</li>
          <li class="small">Terminos y condiciones</li>
        </ul>
      </div>
      <!-- imagenes -->
      <div class="col-xl-6">
        <p class="white"><strong>Tumblr</strong></p>
        <img src="img/square_01.jpg" alt="imagenes 01" class="tumblr" />
        <img src="img/square_02.jpg" alt="imagenes 02" class="tumblr" />
        <img src="img/square_04.jpg" alt="imagenes 03" class="tumblr" />
        <img src="img/square_05.jpg" alt="imagenes 04" class="tumblr" />
        <img src="img/square_06.jpg" alt="imagenes 05" class="tumblr" />
        <img src="img/square_07.jpg" alt="imagenes 06" class="tumblr" />
        <img src="img/square_08.jpg" alt="imagenes 07" class="tumblr" />
        <img src="img/square_09.jpg" alt="imagenes 08" class="tumblr" />
        <img src="img/square_10.jpg" alt="imagenes 09" class="tumblr" />
        <img src="img/square_01.jpg" alt="imagenes 10" class="tumblr" />
      </div>
      <!-- datos -->
      <div class="col-xl-3">
        <p class="white"><strong>Contacto</strong></p>
        <ul class="white">
          <li class="small">+55 1234 5678</li>
          <li class="small">hellow@blackparadox.com</li>
          <li class="small">John Doe /<i> Fotógrafo</i></li>
        </ul>
        <br />
        <p class="white"><strong>Redes Sociales</strong></p>
        <ul class="social-networks">
          <li><i class="fa fa-facebook"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-youtube"></i></li>
          <li><i class="fa fa-tumblr"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="small">
          &copy; todos los derechos reservados <a href="#">Blackparadox</a>
        </p>
      </div>
    </div>
  </div>
</div>
