<nav id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2">
        <a routerLink="home" class="logo">
          <img
            src="../../../assets/img/logo-app.png"
            alt="Logo de aplicacion"
            class="nav"
          />
        </a>
      </div>
      <div class="col-xl-10">
        <ul>
          <li
            class="link-active"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="home">inicio</a>
          </li>
          <li routerLinkActive="link-active">
            <a routerLink="sabias" routerLinkActive="link-active"
              >Sabias que...</a
            >
          </li>
          <li routerLinkActive="link-active">
            <a routerLink="login">Oyentes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
